body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  margin: 10px;
}

.App {
  width: 800px;
  margin: 0 auto;

}

a {
  text-decoration: none;
  color: #333;
}

.header { 
  position: relative;
}

.header .menu {
  position: absolute;
  top: 10px;
  right: 0;
}

.header .link {
  border: 1px solid #333;
  padding: 10px;
  margin-left: 10px;
  background-color: #efefef;
  font-weight: bold;
  border-radius: 4px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.all-days {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list_day {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid blue;
  margin-bottom: 1rem;
}

.list_day li {
  flex: 20% 0 0;
  box-sizing: border-box;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  width: 25%;
  height: 30px;
  font-size: 1rem;
}

table th, td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table td:first-child {
  width: 10%;
}

button {
  background-color: #4CAF50; /* Green */
  width: 90px;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-right: 5px;
}

.off td {
  background: #eee;
  color: #ccc;
}